.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: .1rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  .aside_close {
    position: absolute;
    right: 1rem;
    top: 10rem;
    z-index: 15;
  }
  .aside__list {
    background: #fff;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 8rem 2rem 2rem;
    max-width: 50%;
    height: 100%;
  }

  .aside__item {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1.8rem 0;
    border-bottom: .1rem solid #e5e5e5;
  }
}

.close {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 1.5rem;
  content: '';
  height: 3.3rem;
  width: .2rem;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}