@import '~normalize.css';
@import './typo';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  font-family: 'Source Sans Pro';
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  position: relative;
  width: 100%;
}
section {
  padding: 5rem 0;
}
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}