.invite {
  text-align: left;

  .invite__success {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }

  .invites__list {
    height: 32rem;
    margin: 0;
    padding: 0 2rem 0 0;
    list-style: none;
  }

  .invites {

    .invites__item {
      font-size: 1.6rem;
      width: 100%;
      padding: .65rem 1.1rem;
      border: .1rem solid #DBDCDD;
      border-radius: .3rem;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.invites__item--sep {
        cursor: pointer;
        position: relative;
        &:hover {
          background: #F9F9F9;
        }
        &:after, &:before {
          display: block;
          content: "";
          position: absolute;
          height: .7rem;
          border: .1rem solid #DBDCDD;
          border-top: 0;
          border-bottom-left-radius: .3rem;
          border-bottom-right-radius: .3rem;
        }
        &:after {
          top: 100%;
          left: 1rem;
          right: 1rem;
        }
        &:before {
          top: calc(100% + .7rem);
          left: 1.5rem;
          right: 1.5rem;
        }
      }
      &.invites__item--open {
        &:before, &:after {
          display: none;
        }
      }
    }

    .invites__item-icon {
      cursor: pointer;
    }
  }
}